body {
    font-family: times;
}
#navbar-top {
    text-align: center;
    margin-top: 40px;
}
.navbar-top {
    list-style-type: none;
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    word-spacing: 5px;
}
#HOME, #PERSONAL-DATA-POLICY, #CONTACT-AND-LINKS, #ABOUT-ME {
    margin-right: 30px;
}
#search-bar {
    position: absolute;
    right: 20%;
    margin-top: 30px;
}
input {
    color: #dedede;
    width: 250px;
    height: 40px;
    font-size: medium;
}