body {
    font-family: times;
}
#navbar-top {
    text-align: center;
    margin-top: 40px;
}
.navbar-top {
    list-style-type: none;
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    word-spacing: 5px;
}
#HEM, #INTEGRITETSPOLICY, #KONTAKT-OCH-LÄNKAR, #OM-MIG {
    margin-right: 30px;
}
#search-bar {
    position: absolute;
    right: 20%;
    margin-top: 30px;
}
input {
    color: #dedede;
    width: 250px;
    height: 40px;
    font-size: medium;
}
#Komtext, #Översättning-och-korrekturläsning {
    text-align: center;
    font-weight: normal;
}
#Komtext {
    margin-top: 200px;
    font-size: 40px;
}
#Översättning-och-korrekturläsning {
    font-size: medium;
}
img {
    position: relative;
    left: 25%
}
#navbar-languages {
    position: absolute;
    right: 25%;
    margin-top: -400px;
}
.navbar-languages {
    font-size: medium;
    font-weight: normal;
    display: inline-block;
}
#Hem {
    position: relative;
    left: 40%;
    margin-top: 5px;
    font-size: 40px;
    font-weight: normal;
}
h3 {
    font-size: 16px;
}
#text {
    text-align: left;
    position: relative;
    left:20%;
}